.sheet-toolbar-container {
  background: @white;
}

.sheet-toolbar {
  height: 83px;
  min-height: 83px;
  max-height: 83px;
  border-bottom: none;

  .key-commands-region,
  .button-group {
    display: flex;
    align-items: center;
  }

  .btn.btn-toolbar,
  body.is-blurred & .btn.btn-toolbar {
    box-shadow: none;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: auto;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    transition: background 0.2s ease-out;

    &:not(:last-child),
    &:last-child {
      border-radius: 50%;
    }

    &:active {
      background: @text-color;

      img {
        filter: brightness(0) invert(1);
      }
    }

    img[alt="toolbar-compose.png"] {
      .override-mask-image(@svg-pencil);
    }
    img[alt="toolbar-archive.png"] {
      .override-mask-image(@svg-archive);
    }
    img[alt="toolbar-spam.png"] {
      .override-mask-image(@svg-thumbs-down);
    }
    img[alt="toolbar-trash.png"] {
      .override-mask-image(@svg-trash-can);
    }
    img[alt="toolbar-star.png"] {
      .override-mask-image(@svg-star);
    }
    img[alt="toolbar-markasunread.png"] {
      .override-mask-image(@svg-envelope);
    }
    img[alt="toolbar-movetofolder.png"] {
      .override-mask-image(@svg-folder);
    }
    img[alt="toolbar-tag.png"] {
      .override-mask-image(@svg-tag);
    }
    img[alt="toolbar-person-sidebar.png"] {
      .override-mask-image(@svg-user);
    }
  }
}

.account-sidebar {
  background-color: @panel-background-color;
}

.toolbar-RootSidebar,
.toolbar-ThreadList,
.toolbar-MessageList {
  height: 100%;
  padding: 20px 0;

  .item-container {
    padding: 0 12px;
    align-items: center;
  }
}

.toolbar-RootSidebar {
  background: @panel-background-color;
}

.toolbar-ThreadList {
  background: @list-bg;
}

.toolbar-MessageList {
  background: @messagelist-bg;
  box-shadow: 0 8px 5px -5px @standard-shadow-color;
}
