.sheet-toolbar {
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  border-bottom: none;

  .btn.btn-toolbar,
  body.is-blurred & .btn.btn-toolbar {
    box-shadow: none;
    background: transparent;
  }
}

.account-sidebar {
  background-color: @panel-background-color;
}

.toolbar-RootSidebar,
.toolbar-ThreadList,
.toolbar-MessageList {
  padding: 10px 0;

  .item-container {
    padding: 0 12px;
  }
}

.toolbar-RootSidebar {
  background-color: @panel-background-color;
}

.toolbar-ThreadList {
  background-color: @list-bg;
}
